<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.POSDao" >
  <resultMap id="BaseResultMap" type="com.app.entity.POS" >
    <id column="possn" property="possn" jdbcType="VARCHAR" />
    <result column="merchantcode" property="merchantcode" jdbcType="VARCHAR" />
    <result column="merchantname" property="merchantname" jdbcType="VARCHAR" />
    <result column="posid" property="posid" jdbcType="BIGINT" />
    <result column="postype" property="postype" jdbcType="VARCHAR" />
    <result column="posmode" property="posmode" jdbcType="SMALLINT" />
    <result column="isreward" property="isreward" jdbcType="SMALLINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gdate" property="gdate" jdbcType="TIMESTAMP" />
    <result column="vip_mobile" property="vipMobile" jdbcType="VARCHAR" />
    <result column="vip_nick" property="vipNick" jdbcType="VARCHAR" />
    <result column="dbdate" property="dbdate" jdbcType="TIMESTAMP" />
    <result column="dbvip" property="dbvip" jdbcType="VARCHAR" />
    <result column="dbremark" property="dbremark" jdbcType="VARCHAR" />
    <result column="bluetype" property="bluetype" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    possn, merchantcode, merchantname, posid, postype, posmode, isreward, remark, gdate, 
    vip_mobile, vip_nick, dbdate, dbvip, dbremark, bluetype
  </sql>
  
  <!-- 条件查询总条数 -->
  <select id="selectTotle" resultType="java.lang.Long" parameterType="java.util.Map">
  	select count(*) from t_rc_pos 
  	<where>
  		<if test="from != null and to != null" >and dbdate between #{from} and #{to} </if>
  		<if test="isreward != ''" > and isreward = #{isreward} </if>
  		<if test="bluetype != ''" > and bluetype = #{bluetype} </if>
  		<if test="possn != ''" > and possn = #{possn} </if>
  		<if test="merchantname != ''" > and merchantname = #{merchantname} </if>
  		<if test="merchantcode != ''" > and merchantcode = #{merchantcode} </if>
  	</where>
  </select>
  <!-- 查询列表 -->
  <select id="selectList" resultMap="BaseResultMap"  parameterType="java.util.Map">
  	select <include refid="Base_Column_List" /> from t_rc_pos
  	<where>
  		<if test="from != null and to != null" >and dbdate between #{from} and #{to} </if>
  		<if test="isreward != ''" > and isreward = #{isreward} </if>
  		<if test="bluetype != ''" > and bluetype = #{bluetype} </if>
  		<if test="possn != ''" > and possn = #{possn} </if>
  		<if test="merchantname != ''" > and merchantname = #{merchantname} </if>
  		<if test="merchantcode != ''" > and merchantcode = #{merchantcode} </if>
  	</where>
  	order by gdate desc limit #{page},#{rows}
  </select>
  <!-- 根据mid批量更新status -->
	<update id="updateStatus" parameterType="Map">    
		update t_rc_pos set bluetype = #{status} 
		where possn in     
		<foreach collection="ids" index="index" item="item" open="(" separator="," close=")" >    
			#{item}    
		</foreach>  
	</update>
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_rc_pos
    where possn = #{possn,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_rc_pos
    where possn = #{possn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.app.entity.POS" >
    insert into t_rc_pos (possn, merchantcode, merchantname, 
      posid, postype, posmode, 
      isreward, remark, gdate, 
      vip_mobile, vip_nick, dbdate, 
      dbvip, dbremark, bluetype
      )
    values (#{possn,jdbcType=VARCHAR}, #{merchantcode,jdbcType=VARCHAR}, #{merchantname,jdbcType=VARCHAR}, 
      #{posid,jdbcType=BIGINT}, #{postype,jdbcType=VARCHAR}, #{posmode,jdbcType=SMALLINT}, 
      #{isreward,jdbcType=SMALLINT}, #{remark,jdbcType=VARCHAR}, #{gdate,jdbcType=TIMESTAMP}, 
      #{vipMobile,jdbcType=VARCHAR}, #{vipNick,jdbcType=VARCHAR}, #{dbdate,jdbcType=TIMESTAMP}, 
      #{dbvip,jdbcType=VARCHAR}, #{dbremark,jdbcType=VARCHAR}, #{bluetype,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.app.entity.POS" >
    insert into t_rc_pos
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="possn != null" >
        possn,
      </if>
      <if test="merchantcode != null" >
        merchantcode,
      </if>
      <if test="merchantname != null" >
        merchantname,
      </if>
      <if test="posid != null" >
        posid,
      </if>
      <if test="postype != null" >
        postype,
      </if>
      <if test="posmode != null" >
        posmode,
      </if>
      <if test="isreward != null" >
        isreward,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="gdate != null" >
        gdate,
      </if>
      <if test="vipMobile != null" >
        vip_mobile,
      </if>
      <if test="vipNick != null" >
        vip_nick,
      </if>
      <if test="dbdate != null" >
        dbdate,
      </if>
      <if test="dbvip != null" >
        dbvip,
      </if>
      <if test="dbremark != null" >
        dbremark,
      </if>
      <if test="bluetype != null" >
        bluetype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="possn != null" >
        #{possn,jdbcType=VARCHAR},
      </if>
      <if test="merchantcode != null" >
        #{merchantcode,jdbcType=VARCHAR},
      </if>
      <if test="merchantname != null" >
        #{merchantname,jdbcType=VARCHAR},
      </if>
      <if test="posid != null" >
        #{posid,jdbcType=BIGINT},
      </if>
      <if test="postype != null" >
        #{postype,jdbcType=VARCHAR},
      </if>
      <if test="posmode != null" >
        #{posmode,jdbcType=SMALLINT},
      </if>
      <if test="isreward != null" >
        #{isreward,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gdate != null" >
        #{gdate,jdbcType=TIMESTAMP},
      </if>
      <if test="vipMobile != null" >
        #{vipMobile,jdbcType=VARCHAR},
      </if>
      <if test="vipNick != null" >
        #{vipNick,jdbcType=VARCHAR},
      </if>
      <if test="dbdate != null" >
        #{dbdate,jdbcType=TIMESTAMP},
      </if>
      <if test="dbvip != null" >
        #{dbvip,jdbcType=VARCHAR},
      </if>
      <if test="dbremark != null" >
        #{dbremark,jdbcType=VARCHAR},
      </if>
      <if test="bluetype != null" >
        #{bluetype,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.app.entity.POS" >
    update t_rc_pos
    <set >
      <if test="merchantcode != null" >
        merchantcode = #{merchantcode,jdbcType=VARCHAR},
      </if>
      <if test="merchantname != null" >
        merchantname = #{merchantname,jdbcType=VARCHAR},
      </if>
      <if test="posid != null" >
        posid = #{posid,jdbcType=BIGINT},
      </if>
      <if test="postype != null" >
        postype = #{postype,jdbcType=VARCHAR},
      </if>
      <if test="posmode != null" >
        posmode = #{posmode,jdbcType=SMALLINT},
      </if>
      <if test="isreward != null" >
        isreward = #{isreward,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gdate != null" >
        gdate = #{gdate,jdbcType=TIMESTAMP},
      </if>
      <if test="vipMobile != null" >
        vip_mobile = #{vipMobile,jdbcType=VARCHAR},
      </if>
      <if test="vipNick != null" >
        vip_nick = #{vipNick,jdbcType=VARCHAR},
      </if>
      <if test="dbdate != null" >
        dbdate = #{dbdate,jdbcType=TIMESTAMP},
      </if>
      <if test="dbvip != null" >
        dbvip = #{dbvip,jdbcType=VARCHAR},
      </if>
      <if test="dbremark != null" >
        dbremark = #{dbremark,jdbcType=VARCHAR},
      </if>
      <if test="bluetype != null" >
        bluetype = #{bluetype,jdbcType=SMALLINT},
      </if>
    </set>
    where possn = #{possn,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.app.entity.POS" >
    update t_rc_pos
    set merchantcode = #{merchantcode,jdbcType=VARCHAR},
      merchantname = #{merchantname,jdbcType=VARCHAR},
      posid = #{posid,jdbcType=BIGINT},
      postype = #{postype,jdbcType=VARCHAR},
      posmode = #{posmode,jdbcType=SMALLINT},
      isreward = #{isreward,jdbcType=SMALLINT},
      remark = #{remark,jdbcType=VARCHAR},
      gdate = #{gdate,jdbcType=TIMESTAMP},
      vip_mobile = #{vipMobile,jdbcType=VARCHAR},
      vip_nick = #{vipNick,jdbcType=VARCHAR},
      dbdate = #{dbdate,jdbcType=TIMESTAMP},
      dbvip = #{dbvip,jdbcType=VARCHAR},
      dbremark = #{dbremark,jdbcType=VARCHAR},
      bluetype = #{bluetype,jdbcType=SMALLINT}
    where possn = #{possn,jdbcType=VARCHAR}
  </update>
</mapper>